<div class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="main active"><%= link_to 'Home', root_path, class: cp(root_path) %></li>
        <li class="main"><%= link_to 'About', about_path, class: cp(about_path) %></li>
				<li><a href="http://make-lemonade-sites-blog.herokuapp.com">Blog</a></li>
				<li class="main"><%= link_to 'Policies', policies_path, class: cp(policies_path) %></li>
				<li class="main"><%= link_to 'Portfolio', portfolio_path, class: cp(portfolio_path) %></li>
				<li class="main"><%= link_to 'Services', services_path, class: cp(services_path) %></li>
				<li class="main"><%= link_to 'Contact', contact_path, class: cp(contact_path) %></li>

			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</div>
<script>
$(document).ready(function(){
  if ((window.location.href).match(/home/)) {
    $('li.main').removeClass('active');
    $('li.main:nth-of-type(2)').addClass('active');
  } else if ((window.location.href).match(/about/)) {
    $('li.main').removeClass('active');
    $('li.main:nth-of-type(2)').addClass('active');
  } else if ((window.location.href).match(/policies/)) {
    $('li.main').removeClass('active');
    $('li.main:nth-of-type(4)').addClass('active');
  } else if ((window.location.href).match(/portfolio/)) {
    $('li.main').removeClass('active');
    $('li.main:nth-of-type(5)').addClass('active');
  } else if ((window.location.href).match(/services/)) {
    $('li.main').removeClass('active');
    $('li.main:nth-of-type(6)').addClass('active');
  } else if ((window.location.href).match(/contact/)) {
    $('li.main').removeClass('active');
    $('li.main:nth-of-type(7)').addClass('active');
  } 
});
</script>